.contact {
  background-color: $dark-grey;
  background-image: url(../../images/contact-bg-img.svg);
  background-repeat: no-repeat;

  background-position: left bottom 4.7rem;
}
.contact__border {
  padding-top: 8.4rem;
  border-bottom: 1px solid $white;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9.2rem;
}
.contact__info_wrapper {
  @include wrapper-settings(44.5rem);
  h2 {
    @include font-xl;
    margin-bottom: 3.6rem;
  }
  p {
    @include font-text;
  }
}
.contact__form {
  @include wrapper-settings(44.5rem);
  display: flex;
  flex-direction: column;
  align-items: end;
  input {
    width: 100%;
    background-color: $dark-grey;
    border: none;
    border-bottom: 1px solid $white;
    padding-bottom: 1.6rem;
    margin-bottom: 3.2rem;
    padding-left: 2.4rem;
    color: $white;
  }
  button {
    width: 14.2rem;
    background-color: $dark-grey;
    @include font-setting(1.6rem, 700, 1.625, $white);
    border: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid $green;
    &:hover {
      color: $green;
    }
  }
}
.contact__massage__input {
  padding-bottom: 8.1rem !important ;
}

@media (max-width: 990px) {
  .contact__info_wrapper {
    @include wrapper-settings(35rem);
    h2 {
      @include font-setting(6rem, 700, 1, $white);
      margin-bottom: 3.6rem;
    }
    p {
      @include font-setting(1.2rem, 500, 1.55, $white);
    }
  }
  .contact__form {
    @include wrapper-settings(35rem);
  }
}

@media (max-width: 800px) {
  .contact {
    background-color: $dark-grey;
    background-image: url(../../images/contact-bg-img-responsive.svg);
    background-repeat: no-repeat;
    background-position: left bottom 2rem;
  }
  .contact__wrapper {
    display: flex;
    justify-content: none;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }
  .contact__info_wrapper {
    @include wrapper-settings(44.5rem);
    h2 {
      text-align: center;
      margin-bottom: 3.6rem;
      @include font-xl;
    }
    p {
      text-align: center;
      @include font-text;
    }
  }
  .contact__form {
    @include wrapper-settings(44.5rem);
  }
  .contact__border {
    padding-top: 5rem;
  }
}

@media (max-width: 575px) {
  .contact__info_wrapper {
    @include wrapper-settings(35rem);
    h2 {
      @include font-setting(6rem, 700, 1, $white);
      margin-bottom: 3.6rem;
    }
    p {
      @include font-setting(1.2rem, 500, 1.55, $white);
    }
  }
  .contact__form {
    @include wrapper-settings(35rem);
  }
}
