.header {
  width: 100vw;
  position: fixed;
  top: 3.9rem;
  z-index: 1000;
}
.header__wrapper {
  display: flex;
  align-items: center;

  a {
    margin-right: auto;
    letter-spacing: -0.44px;
    color: $white;
    @include font-setting(3.2rem, 700, 1, $white);
  }
}
.header__icon_wrapper {
  text-align: end;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-right: 3rem;
}

@media (max-width: 700px) {
  .header__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    a {
      margin-right: 0;
    }
  }
  .header__icon_wrapper {
    margin-right: 0;
  }
}
