// COLORS
$black: #151515;
$green: #4ee1a0;
$dark-grey: #242424;
$grey: #d9d9d9;
$white: #ffffff;

// FONTS

$heading-xl-font-size: 8.8rem;
$heading-xl-line-height: 1;
$heading-xl-letter: -2.5px;
$heading-xl-weight: 700;

$heading-l-font-size: 4.8rem;
$heading-l-line-height: 1.16;
$heading-l-letter: -1.5px;
$heading-l-weight: 700;

$heading-m-font-size: 2.4rem;
$heading-m-line-height: 1.33;
$heading-m-weight: 700;

$text-font-size: 1.8rem;
$text-line-height: 1.55rem;
$text-weight: 500;
